<h1>Settings Page</h1>

<h2>Add a User</h2>
<form>

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" [(ngModel)]="inputUsername" name="inputUsername">

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" [(ngModel)]="inputEmail" name="inputEmail">

        <label for="role"><b>Role</b></label>
        <input type="text" placeholder="Enter Role" [(ngModel)]="inputRole" name="inputRole">

        <button (click)="clickAddUser()">submit</button>

        {{error}}

    </div>
    
</form>
  