<h1>Settings Page</h1>

<ng-container *ngIf="role === 'superadmin'">
    <h4>Add a User</h4>
    <form>

        <div class="form-outline mb-4">
            <label class="form-label "for="form2Example1">Username</label>
            <input type="text" placeholder="Enter Username" class="form-control" [(ngModel)]="inputUsername" name="inputUsername">

            <label class="form-label "for="form2Example1">Email</label>
            <input type="text" placeholder="Enter Email" class="form-control" [(ngModel)]="inputEmail" name="inputEmail">

            <label class="form-label "for="form2Example1">Role</label>
            <input type="text" placeholder="Enter Role" class="form-control" [(ngModel)]="inputRole" name="inputRole">

            <button class="btn btn-primary" (click)="clickAddUser()">Add User</button>

            {{error}}

        </div>
        
    </form>

    <h4>Remove a User</h4>
    <form>

        <div class="form-outline mb-4">
            <label class="form-label "for="form2Example1">Username</label>
            <input type="text" placeholder="Enter Username" class="form-control" [(ngModel)]="deleteUsername" name="inputUsername">

            <button class="btn btn-primary" (click)="clickDeleteUser()">Remove User</button>

            {{error}}

        </div>
        
    </form>
</ng-container>